<%= render :partial => 'header'%>
<div class="container col-md-4 col-md-offset-4 center" style="padding-top: 100px">
  <h2>Thanks for signing up!</h2>
  <%= form_for(@user, :url => wizard_path, :method => :put) do |f| %>
    <div class="row">
      <div class="field">
        <%= f.text_field  :first_name, :placeholder => 'First name' %>
      </div>
      <div class="field">
        <%= f.text_field  :last_name, :placeholder => 'Last name' %>
      </div>
    </div>
    <div class="field">
      <%= f.text_field :user_name, :placeholder => 'username' %>
    </div>
    <div class="row">
      <%= f.submit 'Next', :class => 'btn brn-primary' %>
  <% end %>
      <%= link_to 'skip', next_wizard_path %>
    </div>
</div>
