<% provide(:title, "Peeks") %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Peeks", root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><% if user_signed_in? %>
          Logged in as  <strong><%= current_user.email %></strong>
          <%end%></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </nav>
  </div>
</header>

<div class="center jumbotron">
  <div class="container">
    <h1>Peeks</h1>

    <p>Get a peek at what's going on right now.</p>
    <br>
    <br>
    <br>
    <p>Connect with others!</p>
    <div class="btn btn-info btn-lg">
      <%= link_to "Users", user_index_path %>
    </div>

  </div>
</div>

<div class="post">

</div>
