
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Peeks", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Edit", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container col-md-offset-1" style="padding-top: 40px">
  <div class= "col-md-2">
    <div class="thumbnail">
      <img src="<%= @user.user_photo %>" alt="picture">
    </div>
  </div>
  <div class="container col-md-offset-1">
    <div class="row">
      <div class="span4">
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <h5><%= @user.username %></h5>
      </div>
      <div class="span6">
        <p><%= @user.user_bio %></p>
      </div>
      <div class="btn btn-primary">
        <%= link_to "Post", new_post_path %>
      </div>
    </div>
  </div>
</div>
<div class="container col-md-offset-1">
  <div class="span6">
    <ul class="list-style-none list-inline">
      <li><h5>FOLLOWING</h5></li>
      <li><h5>FOLLOWERS</h5></li>
    </ul>
  </div>
</div>
<div class= "stats">
  
</div>


<div class="container center">

</div>
